@media screen and (max-width: 1399px) {
    .icon-links {
        width: 40%;
    }

    .search-area {
        width: 30%;
    }


    .profile-info {
     width: 100%;
     bottom: 150px;
    }

    .menu-icons .menu-item {
        width: 49%;
    }

    .menu-icons .ellipis {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    #content-area .side-column {
        /* width: 35%;
       
        display: inline-block; */
        /* margin: 0 auto; */
    }



    #content-area .main-area {
        /* width: 50%;
        display: inline-block; */
    }

}


@media screen and (max-width: 767px) {

    header .logo-area {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .menu {
        display: none;
    }

    .icon-links {
        width: 100%; 
        display: block;
        margin: 30px 0;
    }

    .search-area {
        width: 100%;
    }

    .search-area input {
        width: 80%;
    }

    .search-area li i.fa-window-close {
        display: none;
    }

    .profile-info {
        width: 100%;
        left: 50px;
        top: 50px;
        transform: translate(-50px, 50px);
    }

    .profile-info .profile-title {
        text-align: center;
        background: rgba(0,0,0, .8);
        padding: 10px;
        border-radius: 10px;
        font-size: 30px;
    }

    .profile-info .user-img {
        display: block;
        text-align: center;
    }

    .profile-info .user-details {
        display: block;
        width: 100%;
        padding: 20px;
    }

    .profile-info .user-details a {
        background: rgba(0,0,0, .8);  
        display: inline-block;
        width: 45%; 
         text-align: center;
    }

    .menu-icons {
        text-align: center;
    }

    .menu-icons .menu-item {
        width: 45%;
    }

    .photo-box, .friends-box {
        display: none;
    }

    #content-area {
        margin-top: -50px;
    }

    #content-area .side-column {
        display: block;
        width: 100%;
        margin: 0 auto;
        float: none;
        max-width: 600px;
    }



    #content-area .main-area {
        display: block;
        width: 100%;
        margin: 140px auto;
    }

    .share-box .share-box-comment .comment-img {
        margin-bottom: 10px;
    }

    .share-box .share-box-response .response-input {
        width: 80%;
    }
}

